* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3,
h3,
h4,
h5,
h5,
h6 {
  font-family: "zilla slab", serif;
}

#landing-jumbo {
  height: 80vh;
  display: flex;
  align-items: center;
  color: #fff;
  background-image: url(https://images.creativemarket.com/0.1.0/ps/5517987/1820/1213/m1/fpnw/wm1/tx1jevyifp3wbzslkfgqnv8xczr75hyjtyldpsumo7wzvdmxbeozhlty5byxwvaj-.jpg?1544180569&s=6662ca4cf4f2f0c4b5396a87bcba3d99);
}

#profile-picture {
  margin: auto;
  border-radius: 50%;
  border-color: blue;
  border-width: 2px;
  border-style: solid;
  max-width: 350px;
  height: 40vh;

  background-image: url("../images/GG.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tech-stack {
  height: 100px;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#html {
  border-color: orange;
  border-style: solid;
  width: 100px;
  height: 100px;
  background-image: url("../images/html5.png");
}

#css3 {
  border-color: blue;
  border-style: solid;
  width: 100px;
  height: 100px;
  background-image: url("../images/css3.png");
}

#js {
  border-color: yellow;
  border-style: solid;
  width: 100px;
  height: 100px;
  background-image: url("../images/js.png");
}

#gitlab {
  border-color: orange;
  border-style: solid;
  width: 100px;
  height: 100px;
  background-image: url("../images/Gitlab.jpg");
}

#google {
  border-color: red;
  border-style: solid;
  width: 100px;
  height: 100px;
  background-image: url("../images/google.png");
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 5px;
  color: red;
}

a {
  margin-top: 10px;
}

.porfolio-row {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.portfolio-row > .porfolio-col {
  text-align: center;
}

.contact-us {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.Bot {
  display: flex;
  justify-content: center;
  text-align: center;
}

#GG1 {
  display: flex;
}

iframe {
  width: 100%;
  height: 300px;
}

#skills {
  text-align: center;
  margin: 30px auto;
}

.Tech-row {
  display: flex;
  justify-content: center;
}

.row-Contact-us {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.capstone-row {
  margin-top: 60px;
  text-align: center;
}

.capstone-2 {
  margin-top: 20px;
}

.contact-us {
  padding-left: 10px;
  padding-right: 10px;
}

.submit-button {
  margin-bottom: 20px;
}

.img {
  width: 95px;
  height: 95px;
  display: flex;
  justify-content: center;
  text-align: center;
}
